@()

@main {
  <div style="padding-top: 20px; padding-left: 40px; padding-right: 40px;">
    <h3><p align=center>(WIP) Mandelbrot set</p></h3>
    <p align=center>
      <a href="https://pknipp.github.io/math">Return</a>
      to the Math APIs page.
      </br>
      creator:&nbsp;
      <a
          href="https://pknipp.github.io/"
          target="_blank" rel="noopener noreferrer"
      >
          Peter Knipp
      </a>
      <br/>
      repo:&nbsp;<a
          href="https://github.com/pknipp/fractal"
          target="_blank"
          rel='noopener
          noreferrer
      '>
          https://github.com/pknipp/fractal
      </a>
    </p>
    <p>
      <b>Background:</b> The <a href="https://en.wikipedia.org/wiki/Mandelbrot_set" target='_blank' rel='noopener noreferrer'>Mandelbrot set</a> is an two-dimensional example of a <a href="https://en.wikipedia.org/wiki/Fractal" target='_blank' rel='noopener noreferrer'>fractal</a>. It arises from the following simple
      <a href="https://en.wikipedia.org/wiki/Map_(mathematics)" target='_blank' rel='noopener noreferrer'>mapping</a> on the <a href="https://en.wikipedia.org/wiki/Complex_plane" target='_blank' rel='noopener noreferrer'>complex plane</a>:
      <p align=center>
        <i>f<sub>c</sub></i>(<i>z</i>) = <i>z</i><sup>2</sup> + <i>c</i>
      </p>
      The set consists of all complex numbers <i>c</i> for which infinite iterative calls of this function do not diverge.  These numbers are indicated as black cells by this app.  The boundary of this set is fractal because it displays <a href="https://en.wikipedia.org/wiki/Self-similarity" target='_blank' rel='noopener noreferrer'>self-similarity</a>, ie the same structure at all length-scales.
    </p>
    <p>

    </p>
    <p>
      <b>Instructions:</b> After <tt>...herokuapp.com</tt> above you should type
      <br>
      <tt>/&langle;resolution&rangle;/&langle;iterations&rangle;/&langle;magnification&rangle;/&langle;center&rangle;</tt>
      <br>
      in which the four inputs are defined below. That said however, the easier way to control this app is via buttons.  For instance <button id="render-mandelbrot-set">this button</button> sets the url to <tt>...heroku.com/20/40/0/0,0</tt>.
      <table border="1">
        <theader>
          <tr>
            <th>control</th>
            <th>description</th>
            <th>notes/advice</th>
          </tr>
        </theader>
        <tbody>
          <tr>
            <td><tt>resolution</tt></td>
            <td>(approximate) number of hexagonally shaped cells ("hexels") along the radius of the viewing area of the complex plane</td>
            <td>Increase this if the pixels' hexagonal shape is noticeable.</td>
          </tr>
          <tr>
            <td><tt>iterations</tt></td>
            <td>number of times that the mapping is iterated before determining if it has diverged (ie should be excluded the set)</td>
            <td>Increase this to reduce number of bright red hexels near boundary.</td>
          <tr>
            <td><tt>magnification</tt></td>
            <td>number of times that the user has halved the size of the complex plane enclosed in the circular viewing area</td>
            <td rowspan="2">Each of these is adjusted whenever you click a spot inside the viewing area.</td>
          </tr>
          <tr>
            <td><tt>center</tt></td>
            <td>real and imaginary parts (aka coordinates) of the complex number at the center of the viewing area</td>
          </tr>
        </tbody>
      </table>
      Notes:
      <ul>
        <li>
          The use of whitespace in the url is allowed but discouraged because <tt>%20</tt> will replace it, making the url harder to read.
        </li>
        <li>
          Increasing either of the first two numbers increases the computational workload. If adjusting either seems to kill the app, click your browser's back arrow, refresh the browser, cross your fingers, and try again.
        </li>
        <li>
          Simply hit your browser's back arrow to decrease any of these numbers except for <tt>center</tt>.
        </li>
        <li>
          Insert <tt>/json</tt> between <tt>...heroku.com</tt> and <tt>/&langle;resolution&rangle;</tt> if you would like the results in json rather than html.
        </li>
    </p>
  </div>

  <script>
    let button = document.getElementById("render-mandelbrot-set");
    const renderSet = () => {
      window.location.href = "https://fractal-examples-e4144646641a.herokuapp.com/20/40/0/0,0";
    };
    button.addEventListener("click", e => renderSet());
  </script>
}
